@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
  body {
    @apply bg-lightBlue;
    /*@apply text-white;*/
    @apply font-sans;
  }
}


/* width */
body::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
body::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}
